$action-button-size: 40px; // 默认按钮大小

.action_toolbar {
    position: absolute;
    @include S(bottom, 100px);
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-self: center;
    grid-gap: D(8px);
    grid-row: 1 / 2;

    background: transparent;
    transition: transform 120ms ease-in-out;
    will-change: transform;

    &:not(.visible) {
        transform: translateX(-50%) translateY(#{D(100px)});
    }

    .action_button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $action-button-size;
        height: $action-button-size;
        background-color: rgba($ingameHudBg, 0.07);
        border-radius: $globalBorderRadius;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.12s ease-in-out;

        .icon {
            width: calc(#{$action-button-size} * 0.6);
            height: calc(#{$action-button-size} * 0.6);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            pointer-events: all;
        }

        &:hover {
            background-color: rgba($accentColorDark, 0.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }
}
